*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --first-color: #fa1406;
  --second-color: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#09203f), to(#537895));
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.container {
  padding: 0 1em;
  width: 100%;
  max-width: 1200px;
}

.stoper-box {
  position: relative;
  margin: 0 auto;
  padding: 2em 1em;
  max-width: 700px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#434343), to(black));
  background-image: linear-gradient(to bottom, #434343 0%, black 100%);
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border-radius: 8px;
  overflow: hidden;
}

.stoper-box .info-icons {
  position: absolute;
  right: 5px;
  top: 10px;
}

.stoper-box .info-icons button {
  margin: 0 0.3em;
  font-size: 1.8rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--second-color);
}

.stoper-box .info-icons button i {
  padding: 0.8em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.stoper-box .info-icons button:hover i {
  color: var(--first-color);
}

.stoper-box .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--second-color);
  text-align: center;
}

.stoper-box .top h1 {
  margin: 0.5em 0;
}

.stoper-box .top .stopwatch {
  margin-bottom: 0.25em;
  font-size: 5rem;
  color: var(--first-color);
}

.stoper-box .top .last-time {
  visibility: hidden;
}

.stoper-box .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stoper-box .bottom .action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em;
}

.stoper-box .bottom .action-buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5em;
  padding: 0.7em 1.5em;
  width: 20%;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid var(--first-color);
  border-radius: 8px;
  color: var(--second-color);
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.stoper-box .bottom .action-buttons button:focus, .stoper-box .bottom .action-buttons button:hover {
  background-color: var(--first-color);
}

.stoper-box .bottom .action-buttons .archive {
  margin: 0.5em auto 0;
  width: 100%;
}

.stoper-box .time-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: var(--second-color);
}

.stoper-box .time-list li span {
  font-weight: bold;
}

.stoper-box .colors {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 70px;
  right: -100px;
  height: 150px;
  width: 60px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  overflow: hidden;
}

.stoper-box .colors .color {
  margin: 0.25em 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ddd;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.5s;
  transition: background-color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.5s;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.5s;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.5s, -webkit-transform 0.3s, -webkit-box-shadow 0.5s;
  cursor: pointer;
}

.stoper-box .colors .color:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.stoper-box .colors .one {
  background-color: royalblue;
  -webkit-box-shadow: 0 0 9px royalblue;
          box-shadow: 0 0 9px royalblue;
}

.stoper-box .colors .two {
  background-color: limegreen;
  -webkit-box-shadow: 0 0 9px limegreen;
          box-shadow: 0 0 9px limegreen;
}

.stoper-box .colors .three {
  background-color: purple;
  -webkit-box-shadow: 0 0 9px purple;
          box-shadow: 0 0 9px purple;
}

.stoper-box .colors .one:hover {
  background-color: #254bbb;
  -webkit-box-shadow: 0 0 9px royalblue;
          box-shadow: 0 0 9px royalblue;
}

.stoper-box .colors .two:hover {
  background-color: #1da11d;
  -webkit-box-shadow: 0 0 9px limegreen;
          box-shadow: 0 0 9px limegreen;
}

.stoper-box .colors .three:hover {
  background-color: #550055;
  -webkit-box-shadow: 0 0 9px purple;
          box-shadow: 0 0 9px purple;
}

.stoper-box .active-colors {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.instruction-shadow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.instruction-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2em;
  max-width: 400px;
  background-color: #434343;
  border-radius: 8px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

.instruction-popup h3 {
  margin-bottom: 0.5em;
  font-size: 2.3rem;
  color: var(--second-color);
}

.instruction-popup p {
  margin-left: 1em;
  color: var(--second-color);
}

.instruction-popup p i {
  color: var(--first-color);
}

.instruction-popup button {
  display: block;
  margin: 1.5em auto 0;
  padding: 0.8em 2em;
  border: 1px solid var(--first-color);
  background-color: #434343;
  color: var(--second-color);
  border-radius: 8px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.instruction-popup button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.instruction-animation {
  -webkit-animation: show-modal 0.5s;
          animation: show-modal 0.5s;
}

@-webkit-keyframes show-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */