// css reset :

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--first-color: #fa1406;
	--second-color: #fff;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

// styles :

.container {
	padding: 0 1em;
	width: 100%;
	max-width: 1200px;
}

.stoper-box {
	position: relative;
	margin: 0 auto;
	padding: 2em 1em;
	max-width: 700px;
	background-image: linear-gradient(to bottom, #434343 0%, black 100%);
	box-shadow: 0 0 10px #000;
	border-radius: 8px;
	overflow: hidden;
	.info-icons {
		position: absolute;
		right: 5px;
		top: 10px;
		button {
			margin: 0 0.3em;
			font-size: 1.8rem;
			border: none;
			background-color: transparent;
			cursor: pointer;
			color: var(--second-color);

			i {
				padding: 0.8em;
				transition: color 0.3s;
			}
			&:hover i {
				color: var(--first-color);
			}
		}
	}
	.top {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--second-color);
		text-align: center;
		h1 {
			margin: 0.5em 0;
		}
		.stopwatch {
			margin-bottom: 0.25em;
			font-size: 5rem;
			color: var(--first-color);
		}
		.last-time {
			visibility: hidden;
		}
	}
	.bottom {
		display: flex;
		flex-direction: column;
		.action-buttons {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			margin: 1em;
			button {
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0.5em;
				padding: 0.7em 1.5em;
				width: 20%;
				// text-align: center;
				font-size: 2rem;
				background-color: transparent;
				border: 1px solid var(--first-color);
				border-radius: 8px;
				color: var(--second-color);
				cursor: pointer;
				text-transform: uppercase;
				transition: background-color 0.3s;
				&:focus,
				&:hover {
					background-color: var(--first-color);
				}
			}

			.archive {
				margin: 0.5em auto 0;
				// flex-grow: 1;
				width: 100%;
			}
		}
	}

	.time-list li {
		display: flex;
		margin-top: 1em;
		justify-content: space-around;
		color: var(--second-color);
		span {
			font-weight: bold;
		}
	}

	.colors {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 70px;
		right: -100px;
		height: 150px;
		width: 60px;
		border-bottom-left-radius: 15px;
		border-top-left-radius: 15px;
		transition: transform 0.35s;
		overflow: hidden;

		.color {
			margin: 0.25em 0;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border: 2px solid #ddd;
			box-shadow: 0 0 10px black;
			transition: transform 0.3s, background-color 0.3s, box-shadow 0.5s;
			cursor: pointer;
			&:hover {
				transform: scale(1.1);
			}
		}
		.one {
			background-color: rgb(65, 105, 225);
			box-shadow: 0 0 9px rgb(65, 105, 225);
		}
		.two {
			background-color: rgb(50, 205, 50);
			box-shadow: 0 0 9px rgb(50, 205, 50);
		}
		.three {
			background-color: rgb(128, 0, 128);
			box-shadow: 0 0 9px rgb(128, 0, 128);
		}
		.one:hover {
			background-color: rgb(37, 75, 187);
			box-shadow: 0 0 9px rgb(65, 105, 225);
		}
		.two:hover {
			background-color: rgb(29, 161, 29);
			box-shadow: 0 0 9px rgb(50, 205, 50);
		}
		.three:hover {
			background-color: rgb(85, 0, 85);
			box-shadow: 0 0 9px rgb(128, 0, 128);
		}
	}
	.active-colors {
		transform: translateX(-100px);
	}
}

.instruction-shadow {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.5);
}
.instruction-popup {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 2em;
	max-width: 400px;
	background-color: #434343;
	border-radius: 8px;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 10px #000;
	h3 {
		margin-bottom: 0.5em;
		font-size: 2.3rem;
		color: var(--second-color);
	}
	p {
		margin-left: 1em;
		color: var(--second-color);
		i {
			color: var(--first-color);
		}
	}
	button {
		display: block;
		margin: 1.5em auto 0;
		padding: 0.8em 2em;
		border: 1px solid var(--first-color);
		background-color: #434343;
		color: var(--second-color);
		border-radius: 8px;
		transition: background-color 0.3s;
		cursor: pointer;
		&:hover {
			background-color: rgba($color: #000000, $alpha: 0.5);
		}
	}
}
.instruction-animation {
	animation: show-modal 0.5s;
}
@keyframes show-modal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
